@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
     display: none;
}

.show{
     opacity: 0;
}

.BrandData:hover .show{
      opacity: 1;
}

.rotate-car{
      animation: move linear infinite 8s;
}

@keyframes move {
     0%{
           transform: rotateY(0deg);
     }

     50%{
           transform: rotateY (180deg);
     }

     100%{
           transform: rotateY(360deg);
     }
}

form input{
      text-transform: capitalize; 
}